*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input, textarea {
    border-width: 0 0 1px;
    border-style: dashed;
    border-color: $gray;
    background: transparent;
    outline: none;
    color: white;
    width: 100%;
    &:focus:required:invalid {
      border-color: #e02f40;
    }
    &:required:valid {
      border-color: #34a74e;
    }
    }
}

::placeholder {
	color: #666;
}

*::selection {
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 45px 0 30px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: 0px;
}

h1 {
  font-family: $serif;
  font-size: 40px;
  font-weight: 400;
  color: white;
  margin-bottom: 32px;

  .blur {
    text-shadow: 0 0 12px white;
    color: transparent;
  }

  a {
    color:black;
    text-decoration: none;
    font-weight: 400;
    //border-bottom: 4px solid #e02f40;

    &:hover {
      color: #e02f40;
    }
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

blockquote {
  padding-left: 30px;
  font-family: $monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  border-left: 4px solid $primary-color;
  color: $gray-dark;
  p {
    color: $gray-dark !important;
  }
}

pre {
  overflow: auto;
  padding: 20px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img {
  width: auto;
  height: auto;
  vertical-align: middle;
  //border: 20px solid $gray-white;
  //box-shadow: 0 10px 20px -4px rgba(30,28,122,0.3);
  margin: 0 0 15px;
  &+em {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: $gray-dark;
  }
}

a {
    text-decoration: none;
    color: $primary-color;
    transition: color 200ms;
    font-weight: 700;

    &:hover {
        color: $white;
    }
}

h2 a {
  text-decoration: none;
}

hr {
  display: block;
  width: 6px;
  height: 6px;
  margin: 45px auto;
  border-radius: 50%;
  border: 0;
  background: $white;
}

table {
  width: 88%;
  text-align: left;
  font-size: 14px;
  border-collapse: collapse;
  margin-bottom: 48px;

  th, td {
    padding: 16px 0;
    border-bottom: 1px dashed $dark;
    vertical-align: middle;
    font-family: $monospace;
    color: $gray-dark;

    code {
      background-color: $black;
      color: $white;
      padding: 2px 8px;
      border-radius: 4px;
    }
  }

  th {
    font-size: 14px;
    text-transform: uppercase;
    background-color: $black;
    color: $white;
    border: $black;
  }

  tr:nth-child(even) {
    //background-color: $gray-white;
  }
}

@media (max-width: $mobile) {
  table {
    width: 100%;
  }
}



.background {
  background-image: url("https://media.giphy.com/media/3q4Qqf7KlFSzGtRLQE/giphy.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

#intro {

  p {
    font-size: 14px;

    a {
      color: white;
      transition: all 250ms;
      font-weight: 400;
      border-bottom: 1px dashed white;
      text-decoration: none;
      padding-bottom: 2px;

      &:hover {
        color: $gray;
      }
    }
  }

  strong {
    font-family: $monospace;
    display: block;
    color: $gray;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: 8px;

    em {
      color: white;
      font-style: normal;
    }
  }

  .emoji {
    display: block;
    font-size: 24px;
    margin-top: 48px;
    color: $gray
  }

}