// *****************
// Color Variables
// *****************
$primary-color: #F2E205 ;
$secondary-color: #94ad7e;
$dark: #333;
$gray: #666;
$gray-dark: #999;
$gray-medium: #d8d8d8;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
$black: #000;

// *****************
// Font Variables
// *****************
$monospace: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$serif: 'Playfair Display', serif;